<div>
      <div class="container most-popular">
        <div class="row">
          <h2 class="text-center">Most Popular</h2>
        </div>
        <div class="row">


          <div class="col-xs-12 ">
            <ul class="nav nav-pills">

              <li class="weblink"><a href="/local/search?localTerm=skip+hire&cityLocation=UK">Skip Hire</a></li>

              <li class="weblink"><a href="/local/search?localTerm=coffee+shops&cityLocation=UK">Coffee Shops</a></li>

              <li class="weblink"><a href="/local/search?localTerm=taxis&cityLocation=UK">Taxis</a></li>

              <li class="weblink"><a href="/local/search?localTerm=funeral+directors&cityLocation=UK">Funeral Directors</a></li>

              <li class="weblink"><a href="/local/search?localTerm=plumbers&cityLocation=UK">Plumbers
              </a></li>

              <li class="weblink"><a href="/local/search?localTerm=barbers&cityLocation=UK">Barbers</a></li>

              <li class="weblink"><a href="/local/search?localTerm=garage+services&cityLocation=UK">Garage Services </a></li>

              <li class="weblink"><a href="/local/search?localTerm=Gyms&cityLocation=UK">Gyms </a></li>

              <li class="weblink"><a href="/local/search?localTerm=solicitors&cityLocation=UK">Solicitors </a></li>


            </ul>
          </div>

        </div>
      </div>
    </div>